.logo-container {
	margin-top: 10px;
	margin-left: 18px;
}

#logo-1 {
	font-family: 'Raleway', Helvetica;
	font-weight: lighter;
}

#logo-2 {
	font-family: 'Raleway', Helvetica;
	font-weight: lighter;
	margin-top: -25px;
}

.nav-container {
	height: 760px;
	margin-top: 0px;
	top: 0px;
	overflow: visible;
}

.menu {
	list-style-type: none;
}

.menu-nav {
	height: 578px;
	overflow: hidden;
	padding: 0px;
	width: 210px;
}