body {
	color: #ffffff;
	background: #202020 url(~/Desktop/coast/unitedstates.png) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
}

.image {
	width: 50%;
	height: 50%;
}